<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj przedmiot</title>
</head>
<body>
    <p>Dodawanie produktów</p>
    <form id="dodawanieProduktu" method="POST">
        {% csrf_token %}
        <div>
            <label for="inazwa">Nazwa:</label>
            <input type="text" id="inazwa" name="nazwa" required>
        </div>
        <div>
            <label for="ikategoria_id">Kategoria:</label>
            <select id="ikategoria_id" name="kategoria_id" >
				<option value="Wszystkie">Wszystkie</option>
                <option value="Elektronika">Elektronika</option>
                <option value="Dom i Ogród">Dom i Ogród</option>
                <option value="Sport">Sport</option>
                <option value="Motoryzacja">Motoryzacja</option>
                <option value="Biżuteria">Biżuteria</option>
            </select>
        </div>
        <div>
            <label for="istan">Stan:</label>
            <select id="istan" name="stan" required>
                <option value="Używane">Używane</option>
                <option value="Nowe">Nowe</option>
            </select>
        </div>
        <div>
            <label for="ijak_pozyskany">Jak pozyskany:</label>
            <input type="text" id="ijak_pozyskany" name="jak_pozyskany" >
        </div>
        <div>
            <label for="icena">Cena:</label>
            <input type="text" id="icena" name="cena" required>
        </div>
        <div>
            <label for="iekspertyza">Ekspertyza:</label>
            <input type="text" id="iekspertyza" name="ekspertyza" >
        </div>
        <div>
            <label for="izdjecie">Zdjęcie (URL):</label>
            <input type="text" id="izdjecie" name="zdjecie" >
        </div>
        <div>
            <label for="iilosc">Ilość:</label>
            <input type="number" id="iilosc" name="ilosc" required>
        </div>
        <div>
            <label for="iopis">Opis:</label>
            <input type="text" id="iopis" name="opis" >
        </div>
        <div>
            <button type="submit">Dodaj produkt</button>
        </div>
    </form>
    <div class='linki'>
        <p><a href="{% url 'administrator' %}">Powrót do panelu administratora</a></p>
        <p><a href="{% url 'stronaGlowna' %}">Powrót do strony głównej</a></p>
    </div>
</body>
</html>


<script>
function dodajProdukt() {
    var nazwa = document.getElementById("inazwa").value;
    var kategoria_id = document.getElementById("ikategoria_id").value;
    var stan = document.getElementById("istan").value;
    var jak_pozyskany = document.getElementById("ijak_pozyskany").value;
    var cena = document.getElementById("icena").value;
    var ekspertyza = document.getElementById("iekspertyza").value;
    var zdjecie = document.getElementById("izdjecie").value; // Pobierz adres URL zdjęcia
	var ilosc = document.getElementById('iilosc'),value;
	var opis = document.getElementById('iopis'),value;

    // Wykonaj zapytanie POST do widoku Django
    fetch('/dodaj_do_bazy', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({
            nazwa: nazwa,
            kategoria_id: kategoria_id,
            stan: stan,
            jak_pozyskany: jak_pozyskany,
            cena: cena,
            ekspertyza: ekspertyza,
            zdjecie: zdjecie
			ilosc: ilosc
			opis: opis
        })
    })
    .then(response => {
        if (response.ok) {
            alert("Produkt został dodany!");
        } else {
            alert("Wystąpił błąd podczas dodawania produktu!");
        }
    })
    .catch(error => {
        console.error('Wystąpił błąd:', error);
    });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

