body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.kategorie {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kategorie p {
    margin: 10px 0;
}

.kategorie a {
    text-decoration: none;
    color: #007bff;
}

.kategorie a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.linki {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.linki a {
    text-decoration: none;
    color: #333;
}

.linki a:hover {
    text-decoration: underline;
    color: #555;
}
